:root {
    /* if you see this color, something went really wrong */
    background: rgb(255, 255, 255); 
}

#root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0px;
    padding: 0px;
}
    
canvas {
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
    
.side-window-button {
    position: fixed; 
    margin: 0px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    height: 35px;
    z-index: 0;
    background-color: rgb(250, 255, 209);
}

.button-icon {
    padding: 0px;
    margin: 5px;
    height: 25px;
    width: 25px;
}

.first-button {
    top: 20px;
    right: 0;
}

.second-button {
    top: 70px;
    right: 0;
}

.third-button {
    top: 120px;
    right: 0;
}
    
.transition-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: larger;
    border: none;
    cursor: pointer;
}

.close-button {
    height: 50px;
}
    
.full-width {
    width: 100%;
}
    
.side-panel-top {
    position: fixed; 
    top: 0%;
}
    
.side-window {
    position: fixed; 
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    z-index: 0;
    overflow: auto;
    background-color: rgb(131, 102, 102);
    position: fixed;
}

.main-search-bar-container {
    margin: 8px;
}

#info-viewer {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 2px;
    top: 15px;
    left: 15px;
    background-color: chartreuse;
    width: 250px;
    border-radius: 24px;
}
    
#entity-list {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: brown;
}
    
.entity-list-item {
    margin: 2px;
    background-color: aqua;
    height: 35px;
}

.entity-list-item > * {
    margin-left: 4px;
    vertical-align: middle;
}
    
.entity-list-item * {
    display: inline;
}

.inline-entity-button {
    padding: 0;
    margin: 2px;
    background-color: rgb(255, 176, 59);
    border-radius: 8px;
    width: 28px;  
}

.inline-entity-button img {
    height: 20px;
    vertical-align: -4px;
}
    
.entity-search-bar {
    margin: 2px;
    padding: 4px;
    width: 300px;
}
    
.search-button {
    height: 50%;
}
    
.info-container {
    display: grid;
    grid-template-columns: 50% 50% ;
    /* grid-template-rows: 30px; */
    padding: 1px;
    background-color: aqua;
}
    
.info-container p {
    display: inline;
    margin: 2px;
    background-color: rgb(230, 202, 255);
}
    
.entity-title {
    margin: 2px;
    padding: 8px;
    background-color: rgb(101, 101, 255);
}
    
.info-title {
    text-align: right;
}
    
.info-title::after {
    content: ":";
}
    
.info-string {
    float: left;
}
    
#buttons {
    display: flex;
    flex-direction: column;
    position: fixed; 
    bottom: 0%;
}
    
.widget-item label {
    color: aliceblue;
}
    
.page-container {
    margin: 0;
    display: grid;
    grid-template-columns: 70px auto 80px;
    grid-template-rows: 35px 100fr auto;
    width: 100%;
    background-color: rgb(0, 255, 106);
}
    
.back-button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: brown;
}
    
.title-banner {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: burlywood;
}

.login-button {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: rgb(184, 16, 161);
}

.page-content {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: rgb(175, 157, 189);
    min-height: 500px;
}

.page-footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding: 20px 0;
    background-color: rgb(100, 167, 194);
}

.page-footer p {
    font-size: small;
}