:root {
    --table-column-width: 100px;
    --color-primary: rgb(38, 44, 49);
    --color-secondary: rgb(240, 249, 255);
    --color-accent: rgb(146, 179, 228);
    --button-length: 30px;
    --button-start-position: 25px;
    --button-spacing: 60px;
}

/* Entire website */
#root {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);
}

body {
    margin: 0px;
    padding: 0px;
}
    
canvas {
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

/* Main screen tab buttons */
.side-window-button {
    background-color: var(--color-secondary);
    display: inline-block;
    position: fixed; 
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
    border-radius: 8px 0px 0px 8px; 
    height: calc(var(--button-length) + 10px);
    z-index: 0;
    right: 0;
}

.button-icon {
    margin: 5px;
    height: var(--button-length);
    width: var(--button-length);
}

.first-button {
    top: var(--button-start-position)
}

.second-button {
    top: calc(var(--button-start-position) + var(--button-spacing))
}

/* Right-side Pull out menu */
.side-window {
    position: fixed; 
    top: 0;
    right: 0;
    width: 300px;
    z-index: 1;
    background-color: var(--color-primary);
    height: 100%;
    border-left: 1px solid var(--color-secondary);
}

.transition-button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: medium;
    border: none;
    border-bottom: 3px solid var(--color-accent);
    cursor: pointer;
    height: 40px;
}
    
.full-width {
    width: 100%;
}

.main-search-bar-container {
    margin: 6px;
}
    
#entity-list {
    display: flex;
    flex-direction: column;
    padding: 2px;
}
    
.entity-list-item {
    margin: 2px;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    background-color: white;
    height: 32px;
}

.entity-list-item > * {
    margin: 8px;
    vertical-align: middle;
    color: var(--color-primary);
}
    
.entity-list-item * {
    display: inline;
}

.inline-entity-button {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 2px;
    width: 12px;
    height: 12px;
    /* WHY WONT THIS ALIGN!!! */
    vertical-align: -2px; 
}

/* Left-side info viewer */
#info-viewer {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 2px;
    top: 15px;
    left: 15px;
    background-color: var(--color-primary);
    width: 275px;
    border: 1px solid var(--color-secondary);
    border-radius: 12px;
}

.info-container {
    display: grid;
    grid-template-columns: 50% 50% ;
    /* grid-template-rows: 30px; */
    padding: 1px;
}
    
.info-container p {
    margin: 2px;
}
    
.entity-title {
    margin: 2px;
    padding: 8px;
}
    
.info-title {
    text-align: right;
    text-transform: uppercase;
    font-size: xx-small;
    color: var(--color-accent);
    vertical-align: bottom;
}
    
.info-title::after {
    content: ":";
}
    
.info-string {
    float: left;
    color: var(--color-secondary);
}

.info-name-container {
    max-height: 70px;
}
.info-name {
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    color: var(--color-secondary);
}

/* Database page */
.page-container {
    margin: 0;
    display: grid;
    grid-template-columns: 100px auto 200px;
    grid-template-rows: 55px auto 150px;
    width: 100%;
    background-color: black;
}
    
.back-button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 6px;
    text-align: center;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    background-color: var(--color-accent);
}
    
.title-banner {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: var(--color-secondary);
}

.title-banner > * {
    margin: 0;
    height: 100%;
    line-height: 55px;
}

.login-button {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.login-button > * {
    float: right;
    margin: 8px;
    font-size: large;
}

.login-button p {
    color: var(--color-secondary);
}

/* Database page content */
.page-content {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: var(--color-secondary);
    min-height: 500px;
    overflow-x: scroll;
}

.stats {
    text-align: center;
}
.search-area {
    border-bottom: 2px solid var(--color-primary);
    text-align: center;
}

.search-area > * {
    margin: 4px;
    padding: 4px;
    height: 32px;
    border-radius: 8px;
}
.page-footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding: 20px 0;
    background-color: var(--color-primary);
}

.page-footer p {
    font-size: small;
    color: var(--color-secondary);
}

table {
    margin: auto;
}

thead, tr {
    border-bottom: 1px solid var(--color-primary);
}
.table-column {
    width: var(--table-column-width);
    padding: 4px;
}